# Url of your backend API
VITE_API_URL=
# Current environment 
VITE_ENVIRONMENT="production"
# Secret used to encrypt JWT tokens
AUTH_SECRET=
# Your custom password for your backend API
API_KEY=

# Note: Google Client Credentials must be created to get the below information
# Refer to: https://console.cloud.google.com/apis/credentials?project=*your project* 

# Google client id
GOOGLE_CLIENT_ID=
# Google client secret
GOOGLE_SECRET=